name: Deploy to neocities

on:
    push:
        branches:
            - main

concurrency:
    group: deploy-to-neocities
    cancel-in-progress: true

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Setup Hugo
              uses: peaceiris/actions-hugo@v3
              with:
                  hugo-version: "0.154.5"
            - name: Build
              run: hugo --minify
            - name: Deploy to neocities
              uses: bcomnes/deploy-to-neocities@v3
              with:
                  api_key: ${{ secrets.NEOCITIES_TOKEN }}
                  cleanup: false
                  neocities_supporter: false # set this to true if you have a supporter account and want to bypass unsuported files filter.
                  preview_before_deploy: true # print a deployment plan prior to waiting for files to upload.
                  dist_dir: public
